<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>
		Super Awesome Bank - Automated Teller Machine
	</title>
	
	<link href="https://fonts.googleapis.com/css?family=Mukta&display=swap" rel="stylesheet">
	<link href="css/atm.css" rel="stylesheet" type="text/css">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/atm.js"></script>	
</head>
<body>
	<div id="uiCont">
		<div id="header">
			<table id="headerTab" align="center">
				<tr>
					<td class="leftFace headerText">
						<span id="cancelButton">
							<img id="cancelLogo" src="img/cancel.svg"> Cancel
						</span>
					</td>
					<td class="rightFace headerText rightHeader medText">
						SAB
					</td>
				</tr>
			</table>
		</div>
		<div class="mainCont activeCont centered" id="introCont" activeCont="1">
			<span id="introSAB">
			SAB
			</span>
			<p id="introWelcome">
			Welcome to Super Awesome Bank
			</p>
			<br>
			<p id="introInsert">
			Insert your card to begin
			</p>
			<br><br>
			<div id="creditCardDiv" class="creditCardSizes">
				<div id="creditCardHolder" class="creditCardSizes">
					<img id="creditCard" class="centered" src="img/credit.svg">
				</div>
				<div id="cardSlot">
				</div>
			</div>
		</div>
		<div class="mainCont centered" id="pinCont" activeCont="2">
			<div id="pinHeader" class="bigText">
				Enter your PIN
			</div>
			<br>
			<div id="pinEntry" value="" class="keypadEntry bigText">&nbsp;</div>
			<br>
			<table class="tableKeypad" align="center">
				<tr>
					<td class="pKeypad keypad" value="1">
						1
					</td>
					<td class="pKeypad keypad" value="2">
						2
					</td>
					<td class="pKeypad keypad" value="3">
						3
					</td>
				</tr>
				<tr>
					<td class="pKeypad keypad" value="4">
						4
					</td>
					<td class="pKeypad keypad" value="5">
						5
					</td>
					<td class="pKeypad keypad" value="6">
						6
					</td>
				</tr>
				<tr>
					<td class="pKeypad keypad" value="7">
						7
					</td>
					<td class="pKeypad keypad" value="8">
						8
					</td>
					<td class="pKeypad keypad" value="9">
						9
					</td>
				</tr>
				<tr>
					<td class="pKeypad keypad" value="0" colspan=3>
						0
					</td>
				</tr>
			</table>
			<br>
			<button id="pinSubmit" class="button kButton medText">
				Submit
			</button>
		</div>
		<div class="mainCont centered" id="balanceCont" activeCont="3">
			<table align="center" class="balTable">
				<tr class="medText">
					<td class="leftFace" rowspan=2>
						Good <span id="timeOfDay"></span>, Michael
					</td>
					<td class="rightFace balance">
						&pound;<span id="balanceDisp">220</span>.00
					</td>
				</tr>
				<tr class="botBalRow">
					<td colspan=2 class="rightFace">
						Balance
					</td>
				</tr>
			</table>
			<br>
			<table align="center" class="balTable balButtonsTable">
				<tr>
					<td class="balButtonsCell">
						<button class="balButton button" value=5>
							&pound;5
						</button>
					</td>
					<td class="balButtonsCell">
						<button class="balButton button" value=40>
							&pound;40
						</button>
					</td>
				</tr>
				<tr>
					<td class="balButtonsCell">
						<button class="balButton button" value=10>
							&pound;10
						</button>
					</td>
					<td class="balButtonsCell">
						<button class="balButton button" value=50>
							&pound;50
						</button>
					</td>
				</tr>
				<tr>
					<td class="balButtonsCell">
						<button class="balButton  button" value=20>
							&pound;20
						</button>
					</td>
					<td class="balButtonsCell">
						<button class="balButton button" value=100>
							&pound;100
						</button>
					</td>
				</tr>
				<tr>
					<td class="balButtonsCell">
						<button class="balButton button" value=30>
							&pound;30
						</button>
					</td>
					<td class="balButtonsCell">
						<button class="balButton button" value="other">
							Other
						</button>
					</td>
				</tr>
			</table>
		</div>
		<div class="mainCont centered" id="withdrawalEntry" activeCont="4">
			<div class="wHeader bigText">
				Enter how much you'd like to withdraw
			</div>
			<br>
			<div id="wEntry" value="" class="keypadEntry bigText">
				&pound;
			</div>
			<br>
			<table class="tableKeypad" align="center">
				<tr>
					<td class="wKeypad keypad" value="1">
						1
					</td>
					<td class="wKeypad keypad" value="2">
						2
					</td>
					<td class="wKeypad keypad" value="3">
						3
					</td>
				</tr>
				<tr>
					<td class="wKeypad keypad" value="4">
						4
					</td>
					<td class="wKeypad keypad" value="5">
						5
					</td>
					<td class="wKeypad keypad" value="6">
						6
					</td>
				</tr>
				<tr>
					<td class="wKeypad keypad" value="7">
						7
					</td>
					<td class="wKeypad keypad" value="8">
						8
					</td>
					<td class="wKeypad keypad" value="9">
						9
					</td>
				</tr>
				<tr>
					<td class="wKeypad keypad" value="0" colspan=3>
						0
					</td>
				</tr>
			</table>
			<br>
			<table align="center" class="balTable balButtonsTable">
				<tr>
					<td class="balButtonsCell">
						<button id="clearButton" class="button kButton wButton">
							Delete
						</button>
					</td>
					<td class="balButtonsCell">
						<button id="withdrawButton" class="button kButton wButton">
							Submit
						</button>
					</td>
				</tr>
			</table>
		</div>
		<div class="mainCont centered" id="withdrawalSuccess" activeCont="5">
			<span id="introSAB">
				Ch-ching!
			</span>
			<br>
			<div id="moneyCont">
			</div>
			<br>
			<div id="introWelcome">
				You withdrew &pound;<span id="withdrawConfirmAmm"></span>!
			</div>
			<br>
			<button class="button medText" id="returnToBalance">
				Return to Balance Screen
			</button>
		</div>
		<div class="mainCont centered" id="pinLocked" activeCont="6">
			<p class="bigText">
				Your account has been locked.
				<br><br>
				Please contact our customer service team as soon as possible.
			</p>
		</div>
		<div class="mainCont centered" id="overdraftWarning" activeCont="7">
			<p class="bigText">
				This transaction will cause your account to go into your
				agreed overdraft.
				<br><br>
				Do you want to continue?
				<br><br>
				<table align="center" class="balTable balButtonsTable">
					<tr>
						<td class="balButtonsCell">
							<button class="button overdraftButton medText" value="yes">
								Yes
							</button>
						</td>
						<td class="balButtonsCell">
							<button class="button overdraftButton medText" value="no">
								No
							</button>
						</td>
					</tr>
				</table>
			</p>
		</div>
		<div class="mainCont centered" id="outofMoneyWarning" activeCont="8">
			<p class="bigText">
				Uh oh! :(
				<br><br>
				Looks like we won't be much good to you now!
				<br><br>
				We're all out of cash! Try again later!
			</p>
		</div>
		<div class="mainCont centered" id="insufficientFunds" activeCont="9">
			<p class="bigText">
				This transaction has been declined due to insufficient funds
				in your account.
				<br><br>
				Your maximum withdrawal at present is &pound;<span id="maximumWithdraw"></span>.
			</p>
			<button class="button overdraftButton medText" value="no">
				Return
			</button>
		</div>
		<div class="mainCont centered" id="notEnoughNotes" activeCont="10">
			<p class="bigText">
				Unfortunately, this machine does not hold enough money for this transaction.
				<br><br>
				Please try again.
			</p>
			<button class="button overdraftButton medText" value="no">
				Return
			</button>
		</div>
	</div>
</body>