.Balance-table {
  width: 80%;
}

.Balance-rightColumn {
  text-align: right;
  width: 40%;
  vertical-align: top;
}

.Balance-leftColumn {
  text-align: left;
  width: 60%;
  vertical-align: top;
}

.Balance-bold {
  font-weight: 700;
  vertical-align: bottom !important;
}

.Balance-cell {
  width: 50%;
}

.Balance-topTable {
  border-collapse: collapse;
  text-align: center;
}