.Header-container {
  position: absolute;
  top: 5%;
  width: 100%;
}

.Header-cancel-button {
  font-family: inherit;
  font-size: 100%;
  border: none;
  background-color: transparent;
  color: #fff;
}

.Header-table {
  width: 80%;
  color: #fff;
  margin-left: 10%;
  font-size: 1.25em;
}

.Header-logo {
  vertical-align: text-middle;
}

.Header-table-left {
  text-align: left;
}

.Header-table-right {
  text-align: right;
  font-weight: 600;
}