body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #8a2387;
  background: linear-gradient(to top, #8a2387, #e94057, #f27121);
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mainContainer {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.button {
  background-color: #fff;
  border: 0;
  font-weight: 700;
  border-radius: 2vw;
  font-family: 'Mukta', sans-serif;
  color: #8a2387;
  font-size: calc(10px + 2vmin);
  padding: 2vmin 5vmin;
}

.small-text {
  font-size: 0.5em;
}

.sideBySide {
  display: inline-block;
}