.Intro-bigText {
  padding-bottom: 0;
  margin-bottom: 0;
}

.Intro-cardSlotWrapper {
  overflow: hidden; 
  width: 20vmin; 
}

.Intro-cardWrapper {
  width: 17.5vmin;
  height: 17.5vmin;
  position: relative;
  display: inline-block;
}

.Intro-card {
  width: 100%;
  position: absolute;
  left: 0;
  transition: left 1s;
}

.Intro-card-unclicked {
  left: 0;  
}

.Intro-card-clicked {
  left: 150%;
}

.Intro-cardSlot {
  display: inline-block;
  height: 15vmin;
  width: 1vmin;
  border: 1vmin solid #fff;
  border-radius: 2vmin;
  border-left: 0;
}