.KeypadButton-keypad {
  padding: 0.5em;
  font-size: 1em;
  font-weight: 700;	
  cursor: pointer;
  background: transparent;
  border: 0;
  color: #fff;
}

.KeypadButton-balance {
  width: 100%;
  font-weight: 400;
  font-size: 1em;
}