/* General CSS */

body {
	background: #8a2387;
	background: linear-gradient(to top, #8a2387, #e94057, #f27121);
	color: #fff;
	font-family: 'Mukta', sans-serif;;
}

@media only screen and (orientation: landscape) {
	body {
		font-size: 1vw;
	}
}
	
@media only screen and (orientation: portrait) {
	body {
		font-size: 1vh;
	}
}
	
.bigText {
	font-size: 3em;
}
	
.centered {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.medText {
	font-size: 2em;
}
	
.mainCont {
	text-align: center;
	width: 100%;		
	position: absolute;
	display: none;
}
	
#uiCont {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: 'Mukta', sans-serif;;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
	
/* Intro Screen */
	
.creditCardSizes {
	width: 15em;
	height: 15em;
}
	
#cardSlot {
	position: absolute;
	height: 15em;
	width: 1em;
	border: 1em solid #fff;
	border-radius: 2em;
	border-left: 0;
	margin-left: 15em;
	top: 50%;
	transform: translate(0, -50%);
}
	
#creditCard {
	width: 100%;
	position: absolute;
}
	
#creditCardDiv {
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
}
	
#creditCardHolder {
	overflow: hidden;
	position: relative;
}
	
#introSAB {
	font-size: 7.5em;
	font-weight: 800;
}
	
#introWelcome {
	font-size: 3.5em;
}
	
#introInsert {
	font-size: 2.5em;
}
	
/* Header */
	
#header {
	display: none;
	position: relative;
	margin-top: 2.5vh;
}
	
#headerTab {
	width: 80vw;
}
	
#cancelLogo {
	width: 1em;
	vertical-align: middle;
}
	
.headerText {
	font-size: 1.5em;
	vertical-align: middle;
}
	
/* Button Design */

.balButton {
	width: 25vw;
	padding: 1vh 0;
	font-weight: 400;
	font-size: 1em;
}
	
.button {
	background-color: #fff;
	border: 0;
	font-weight: 700;
	border-radius: 2vw;
	font-family: 'Mukta', sans-serif;
	color: #8a2387;
}
	
.inactiveButton {
	background: #666 !important;
	color: #333 !important;
}
	
.kButton {
	padding: 2vh 5vh;
}
	
.overdraftButton {
	width: 25vw; 
	padding: 2vh 0;
}
	
.wButton {
	font-size: 1em !important;
}
	
/* Keypad Layout */
	
.keypad {
	padding: 0.5em;
	font-size: 1.5em;
	font-weight: 700;	
	cursor: pointer;
}
	
.keypadEntry {
	font-weight: 600;
	letter-spacing: 2vw;
	text-align: center;
}
	
.tableKeypad {
	text-align: center;
}
	
/* Rest of App Layout */

.activeCont {
	display: block;
}
	
.balance {
	font-weight: 800;
	vertical-align: bottom !important;
}
	
.balButtonsCell {
	width: 50%;
	padding: 2vh 0;
}
	
.balButtonsTable {
	text-align: center;
}
	
.balTable {
	width: 60vw;
	border-collapse: collapse;
}	
	
.botBalRow {
	font-size: 1em;
}
	
.note {
	position: absolute;
	transform-origin: bottom center;
	height: 20em;
	top: 50%;
	left: 50%;
}
	
.rightFace {
	text-align: right;
	width: 40%;
	padding-left: 10vw;
	vertical-align: top;
}
	
.rightHeader {
	font-weight: 800;
}
	
#moneyCont {
	position: relative;
	text-align: center;
	width: 100%;
	height: 50vh;
	text-align: center;
}
	
#returnToBalance {
	padding: 1em 2em;
}